<div class="video-chat">
  <div class="video-container">
    <!-- Основной экран для собеседника -->
    <video #remoteVideo autoplay class="remote-video"></video>
    <!-- Видео с вашей камеры -->
    <video #localVideo autoplay muted class="local-video"></video>
  </div>

  <!-- Контролы -->
  <div class="controls">
    <button (click)="toggleCamera()">
      <i class="fas" [ngClass]="isCameraOn ? 'fa-video' : 'fa-video-slash'"></i>
    </button>
  
    <button (click)="toggleMicrophone()">
      <i class="fas" [ngClass]="isMicrophoneOn ? 'fa-microphone' : 'fa-microphone-slash'"></i>
    </button>
  
    <button (click)="shareScreen()">
      <i class="fas fa-desktop"></i>
    </button>
    
    <!-- Кнопка завершения вызова с красным фоном -->
    <button class="end-call" (click)="endCall()">
      <i class="fas fa-phone-slash"></i>
    </button>

    <!-- Кнопка совершения вызова с зеленым фоном -->
    <button class="start-call" (click)="startCall()">
      <i class="fas fa-phone"></i>
    </button>
  </div>
</div>
